---
layout: page
title: Generated Poetry
---

<div class="home">

  <h1 class="page-heading">Poems By Computers</h1>

  <p>Generated algorithmically, one way or another.</p>
  
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'generatedwriting' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
	{{ post.excerpt }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
