---
layout: page
title: Generated Poetry
---

<div class="home">

  <p><i>"[T]here never was an indication that I would ever make my living through the artful arrangement of words."</i><br>
    &nbsp;&nbsp;&nbsp;&nbsp;--Amy Tan
  </p>

  <h1 class="page-heading">Words generated algorithmically, arranged manually.</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'generatedwriting' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
	{{ post.excerpt }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
